@import 'tailwindcss';

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96%;
    --accent-foreground: 222.2 84% 4.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 218 76% 54%;
    --shadow-active:
      0 1px 1px 0 rgba(0, 0, 0, 0.02), 0 1px 3px 0 rgba(0, 0, 0, 0.04);
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
  body {
    @apply font-sans text-sm leading-tight font-medium tracking-tighter;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --shadow-active: var(--shadow-active);

  --color-gray-50: hsl(210, 25%, 98%); /* #FAFBFC */
  --color-gray-100: hsl(210, 20%, 98%); /* #F9FAFB */
  --color-gray-200: hsl(0, 0%, 88%); /* #E1E1E1 */
  --color-gray-300: hsl(0, 0%, 75%); /* #C0C0C0 */
  --color-gray-400: hsl(220, 12%, 66%); /* #9DA4B2 */
  --color-gray-415: #ebedf0; /* 15% opacity on #F9FAFB */
  --color-gray-435: #d9dce1; /* 35% opacity on #F9FAFB */
  --color-gray-500: hsl(220, 10%, 59%); /* #8C93A1 */
  --color-gray-600: hsl(221, 14%, 47%); /* #677289 */

  --color-gray-800: hsl(0, 0%, 27%); /* #444444 */
  --color-gray-900: hsl(0, 0%, 10%); /* #1A1A1A */

  --color-active: #f59d0e;
  --color-flag: #2f72e2;
  --color-destructive: #ef494f;
}

/* These colors are used by icons within SVGs with the `currentColor` attribute. Without inlining them, the color utilities would not be added to the bundle. */
@source inline('text-active');
@source inline('text-flag');
@source inline('text-gray-400');
@source inline('text-gray-500');
@source inline('text-gray-900');
